.wrapper
    .container
        #app
            .title
                h2 To-do List
                p#today 
            .app-body
                .add-task
                    input(type="text" placeholder="New task" id="input-task")
                    button#add add
                .list-task
                    ul#listTask
                        //- li
                        //-     .check
                        //-     p Homework #[span.time 3:30] 
                        //-     .delete
                        //- li
                        //-     .check
                        //-     p Homework II
                        //-     .delete
                        //- li
                        //-     .check
                        //-     p Homework III
                        //-     .delete



        