.wrapper
    .container
        #app
            .title
                h2 To-do List
                p.today Thursday, 10
            .app-body
                .add-task
                    input(type="text" placeholder="New task" id="input-task")
                    button#add add
                .list-task
                    ul#listTask



        